*{
	font-family: "宋体";
}
.bodyback{
	background: #CCCCCC;
}
.firwid{
	width: 65%;
	margin: 0 auto;
	margin-top: 1%;
}
.bottomimg{
	max-width: 20%;
	width: auto;
}
.signal{
	padding-bottom: 2%;
	padding-top: 2%;
	font-family: "楷体";
	text-align: center;
	font-size: 1.7em;
	color: black;
	font-weight: 400;
	text-shadow: 0.1em 0.1em darkgray;
}
.firwid{
	width: 65%;
	margin: 0 auto;
	margin-top: 1%;
}
.zbimg{
	max-width: 50%;
	width: auto;
}
.zbimgback{
	background: white;
}
.cyuyan{
	color: red;
	font-size: 2em;
	margin-top: 2%;
}
.martop{
	margin-top: -4%;
	padding-top: 2%;
	padding-bottom: 2%;
}
#message{
	width: 95%;
	margin: 0 auto;
	height:370px;
	margin-top: 2%;
	position: relative;
}
#message ul{
	list-style: none;
	margin-left: 5px;
}
#message a{
	display: block;
	text-decoration: none;
	color: black;
}
#page_navigation{
	position: absolute;
	bottom:10%;
	left:0;
}