<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <link rel="stylesheet" href="/css/index/reset.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/index/internet.css" />
    <link rel="stylesheet" href="/css/index/teacher.css">
    <link rel="stylesheet" href="/css/pageys.css">
    <title>C语言精品课程--教材建设</title>
    <style>
        .arti{
            list-style: none;
        }
        .arti li{
            height:400px;
            overflow-y: scroll;
            margin-top: 2%;
        }
        .msg{
            list-style: none;
        }
        .msg li{
            margin-left: 10%;
        }
        .hov a:hover{
            color: red;
        }
        h3{
            text-align: center;
            font-weight: 600;
        }
        .borde{
            border-right:1px solid lightgrey;
            height:400px;
            line-height: 2em;
        }
        .table tr:nth-of-type(1){
            text-align: center;
        }
    </style>
</head>
<body class="bodyback">
<div class="container firwid">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
            <a href="/main">管理员入口</a>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7 text-right" id="nowtime">
        </div>
    </div>
    <div class="row zbimgback">
        <div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
            <a href="/"><img src="/img/zbdxtb.jpg.png" class="zbimg"></a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cyuyan text-center">
            中北大学c语言精品课程
        </div>
    </div>
    <div class="row">
        <nav class="navbar navbar-default">

            <div class="col-lg-12 col-md-12" id="daohanglan">
                <ul class="nav nav-tabs">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            相关介绍
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/admin/classes">课程介绍</a>
                            </li>
                            <li>
                                <a href="/admin/teachers">教师队伍</a>
                            </li>
                            <li>
                                <a href="">教材建设</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            教学方式
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">课堂教学</a>
                            </li>
                            <li>
                                <a href="">双语教学</a>
                            </li>
                            <li>
                                <a href="">实验教学</a>
                            </li>
                            <li>
                                <a href="">网络教学</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            教学资源
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">教学录像</a>
                            </li>
                            <li>
                                <a href="/main">试卷分析</a>
                            </li>
                            <li>
                                <a href="/admin/sites">相关网站</a>
                            </li>
                            <li>
                                <a href="">成果展示</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            教学管理
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">考试改革</a>
                            </li>
                            <li>
                                <a href="">教学改革</a>
                            </li>
                            <li>
                                <a href="">教学管理</a>
                            </li>
                            <li>
                                <a href="">教学效果</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
    <div class="row martop" style="background: white;">
        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
           <div class="col-lg-2 borde">
               <ul>
                   <li class="hov">
                       <a href="javascript:hit('.contrucing')">教材建设历程</a>
                   </li>
                   <li>
                       <ul class="msg"><a>教材简介</a>
                       <li class="hov"><a href="javascript:hit('.artimsg')">内容简介</a></li>
                           <li class="hov"><a href="javascript:hit('.bookpre')">教材前言</a></li>
                           <li class="hov"><a href="javascript:hit('.bookafter')">教材后记</a></li>
                       </ul>
                   </li>
                   <li class="hov">
                       <a href="javascript:hit('.bookcolor')">教材特色</a>
                   </li>
                   <li class="hov"><a href="javascript:hit('.reader')">教材与参考书</a></li>
               </ul>
           </div>
            <div class="col-lg-10">
                <ul class="arti">
                    <li class="contrucing">
                        <h3>教材建设历程</h3>
                    <table class="table table-bordered">
                        <tr>
                        <td>作者</td>
                        <td>教材名称</td>
                        <td>出版社</td>
                        </tr>
                    </table>
                    </li>
                    <li class="artimsg">
                        <h3>内容简介</h3>

                    </li>
                    <li class="bookpre">
                        <h3>教材前言</h3>
                    </li>
                    <li class="bookafter">
                        <h3>教材后记</h3>
                    </li>
                    <li class="bookcolor">
                        <h3> 教材特色</h3>
                    </li>
                    <li class="reader">
                        <h3> 教材与参考书</h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="/js/jquery_1.9.js" ></script>
<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/js/angular_1.5.8.min.js" ></script>
<script type="text/javascript" src="/js/index/internet.js" ></script>
<script type="text/javascript" src="/js/index/teacherpage.js"></script>
<script>
    function hit(li_ele){
        $('.arti li').hide();
        $(li_ele).show()
    }
    $(function () {
        $('.arti li').not(':first').hide();

    })
</script>
</body>
</html>
