<ul class="nav nav-tabs">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            相关介绍
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/classes">课程介绍</a>
            </li>
            <li>
                <a href="/admin/teachers">教师队伍</a>
            </li>
            <li>
                <a href="/admin/book">教材建设</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            教学方式
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/classteach">课堂教学</a>
            </li>
            <li>
                <a href="/admin/double">双语教学</a>
            </li>
            <li>
                <a href="/admin/testteach">实验教学</a>
            </li>
            <li>
                <a href="/admin/interteach">网络教学</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            教学资源
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/teachmove">教学录像</a>
            </li>
            <li>
                <a href="/main">试卷分析</a>
            </li>
            <li>
                <a href="/admin/sites">相关网站</a>
            </li>
            <li>
                <a href="/admin/achieve">成果展示</a>
            </li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            教学管理
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="/admin/testreform">考试改革</a>
            </li>
            <li>
                <a href="/admin/teachreform">教学改革</a>
            </li>
            <li>
                <a href="/admin/teachcon">教学管理</a>
            </li>
            <li>
                <a href="/admin/teachresult">教学效果</a>
            </li>
        </ul>
    </li>

</ul>