<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1" />
		<link rel="stylesheet" href="/css/index/reset.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/index/index.css" />
		<title>C语言精品课程网站</title>
	</head>

	<body class="bodyback">
		<div class="container firwid">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
					<a href="/main">管理员入口</a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7 text-right" id="nowtime">
				</div>
			</div>
			<div class="row zbimgback">
				<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
					<img src="/img/zbdxtb.jpg.png" class="zbimg">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cyuyan text-center">
					中北大学c语言精品课程
				</div>
			</div>
			<div class="row">
				<nav class="navbar navbar-default">
					
					<div class="col-lg-12 col-md-12" id="daohanglan">
						<ul class="nav nav-tabs">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									相关介绍
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="/admin/classes">课程介绍</a>
									</li>
									<li>
										<a href="/admin/teachers">教师队伍</a>
									</li>
									<li>
										<a href="">教材建设</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学方式
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="">课堂教学</a>
									</li>
									<li>
										<a href="">双语教学</a>
									</li>
									<li>
										<a href="">实验教学</a>
									</li>
									<li>
										<a href="">网络教学</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学资源
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="">教学录像</a>
									</li>
									<li>
										<a href="/main">试卷分析</a>
									</li>
									<li>
										<a href="/admin/sites">相关网站</a>
									</li>
									<li>
										<a href="">成果展示</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学管理
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a href="">考试改革</a>
									</li>
									<li>
										<a href="">教学改革</a>
									</li>
									<li>
										<a href="">教学管理</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教学效果</a>
									</li>
								</ul>
							</li>

						</ul>
					</div>
				</nav>
			</div>
			<div class="row martop" style="background: white;">
				<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
					<img src="/img/beijing.jpg" class="img-responsive marleft">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" id="marquee1">
					<h2 style="text-align: center;">课程简介</h2>
					<div style="overflow: hidden;">
						<div id="marquee">
							<p>C语言程序设计是高等院校计算机专业及相关专业重要的专业基础课，其目的是培养学生的程序设计理念、 掌握程序设计的基本方法，为后续课程（数据结构、面向对象程序设计、操作系统、编译原理和软件工程等） 打下坚实的基础。
							</p>
							<p>C语言程序设计是一门实践性很强的课程，学生从一开始，普遍给予很高的热情。对于把目标定位在提高实践 应用能力的淮海工学院计算机科学系来说，更应该从一开始就很下功夫，尽可能早的让学生对程序设计产生浓厚的兴趣。与其 他院校相比，本课题组的绝大部分成员虽年青但有活力，更重要的是有着丰富的工作经历和很强的动手能力，对该门课程有很 深的感悟，能很好的把教学与实践应用结合在一起。
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row signal" style="background: #F8F8F8;">
				思考造就未来，努力成就人生！
			</div>
			<div class="row" style="background: white;">
				<div class="col-lg-3 visible-lg"></div>
				<div class="col-lg-5 col-md-12 text-center bot">
					<p style="text-indent: 2em;font-family: '宋体'">版权所有：#########################</p>
					<p style="text-indent: 2em;font-family: '宋体'"> 非经营性互联网信息服务审批号#############</p>
					<p style="text-indent: 2em;font-family: '宋体'">邮编：030051</p>
				</div>
				<div class="col-lg-4 visible-lg text-left">
					<img src="/img/wangjing.jpg" class="bottomimg">
				</div>
			</div>

		</div>

		<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/index/index.js"></script>
	</body>

</html>