<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initialscale=1,maximum-scale=1,">
		<link rel="stylesheet" href="/css/index/reset.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/index/internet.css" />
		<title>C语言精品课程--相关网站</title>
	</head>
	<body class="bodyback" ng-app="app">
		<div class="container firwid">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
					<a href="/main">管理员入口</a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7 text-right" id="nowtime">
				</div>
			</div>
			<div class="row zbimgback">
				<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
					<a href="/"><img src="/img/zbdxtb.jpg.png" class="zbimg"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cyuyan text-center">
					中北大学c语言精品课程
				</div>
			</div>
			<div class="row">
				<nav class="navbar navbar-default">
					
					<div class="col-lg-12 col-md-12" id="daohanglan">
						<ul class="nav nav-tabs">
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									相关介绍
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a data-toggle="tab" href="">课程介绍</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教师队伍</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教材建设</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学方式
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a data-toggle="tab" href="">课堂教学</a>
									</li>
									<li>
										<a data-toggle="tab" href="">双语教学</a>
									</li>
									<li>
										<a data-toggle="tab" href="">实验教学</a>
									</li>
									<li>
										<a data-toggle="tab" href="">网络教学</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学资源
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a data-toggle="tab" href="">教学录像</a>
									</li>
									<li>
										<a data-toggle="tab" href="">试卷分析</a>
									</li>
									<li>
										<a data-toggle="tab" href="">相关网站</a>
									</li>
									<li>
										<a data-toggle="tab" href="">成果展示</a>
									</li>
								</ul>
							</li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown">
									教学管理
									<span class="caret"></span>
								</a>
								<ul class="dropdown-menu">
									<li>
										<a data-toggle="tab" href="">考试改革</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教学改革</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教学管理</a>
									</li>
									<li>
										<a data-toggle="tab" href="">教学效果</a>
									</li>
								</ul>
							</li>

						</ul>
					</div>
				</nav>
			</div>
			<div class="row martop" style="background: white;">
				<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
					<div class="text-left">
						相关网站：
					</div>
					<div id="message" ng-controller="myapp">
						<ul ng-repeat="add in internet">
							<li class="row">
								<a href="{{add.address}}" class="col-lg-6">
									{{add.address}}
								</a>
								<a class="col-lg-6 hidden-md hidden-sm hidden-xs text-right">
									······················
								</a>
							</li>
						</ul>
					</div>
					
				</div>
			</div>

		</div>
		<script type="text/javascript" src="/js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/js/angular_1.5.8.min.js" ></script>
		<script type="text/javascript" src="/js/index/internet.js" ></script>
	</body>
</html>
