<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<link rel="stylesheet" href="/css/index/reset.css" />
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/css/index/internet.css" />
		<link rel="stylesheet" href="/css/pages.css">
		<title>C语言精品课程--相关网站</title>
	</head>
	<body class="bodyback">
		<div class="container firwid">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-4 col-xs-5">
					<a href="/main">管理员入口</a>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-8 col-xs-7 text-right" id="nowtime">
				</div>
			</div>
			<div class="row zbimgback">
				<div class="col-lg-6 col-md-6 hidden-sm hidden-xs">
					<a href="/"><img src="/img/zbdxtb.jpg.png" class="zbimg"></a>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 cyuyan text-center">
					中北大学c语言精品课程
				</div>
			</div>
			<div class="row">
				<nav class="navbar navbar-default">

					<div class="col-lg-12 col-md-12" id="daohanglan">
                        <%include daohang.ejs%>
					</div>
				</nav>
			</div>
			<div class="row martop" style="background: white;">
				<div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
					<div class="text-left">
						相关网站：
					</div>
					<div id="message">
						<ul id="content">
							<%for(var i=0;i<sites.length;i++){%>
							<li class="row">
								<a href="<%=sites[i].site%>" class="col-lg-6">
								<%=sites[i].site%>
								</a>
								<a class="col-lg-6 hidden-md hidden-sm hidden-xs text-right">
								······················
								</a>
							</li>
							<%}%>
						</ul>
					</div>
					
				</div>
			</div>

		</div>
		<script type="text/javascript" src="/js/jquery_1.9.js" ></script>
		<script type="text/javascript" src="/js/bootstrap.min.js" ></script>
		<script type="text/javascript" src="/js/angular_1.5.8.min.js" ></script>
		<script type="text/javascript" src="/js/index/internet.js" ></script>
		<script type="text/javascript" src="/js/jquery.kkPages.js"></script>
		<script>
			$(function(){
			    $('#message').kkPages({
                    PagesClass:'li', //需要分页的元素
                    PagesMth:15, //每页显示个数
                    PagesNavMth:5 //显示导航个数
				})
			})
		</script>
	</body>
</html>
