*{
    font-family: "宋体";
    margin:0;
    padding:0;
    font-size: 16px;
}
.character{
    text-align: left;
    font-size:2em;
    margin-top: 2%;
}
.del{
    width:45%;
}
.cha{
    width:45%;
}






