<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/testmodel.css">
    <title>用户</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 sdf">
            <img src="/img/top1_r1_c1.gif" alt="..">
        </div>
        <div class="col-lg-6 visible-lg character">
            用户库
        </div>
    </div>
    <hr/>

    <input type="text" id="middle" style="display: none" name="middle">
    <div class="row">
        <table class="table table-bordered table-responsive model">
            <thead>
            <th class="text-center">ID</th>
            <th class="text-center">用户名</th>
            <th class="text-center">密码</th>
            <th class="text-center">管理员</th>
            <th class="text-center">操作</th>
            </thead>
            <tbody>
            <%for(var i=0;i<user.length;i++){%>
            <tr>
                <td><%=user[i]._id%></td>
                <td class="ar" name="username"><%=user[i].username%></td>
                <td class="ar" name="password"><%=user[i].password%></td>
                <td><%=user[i].isAdmin%></td>
                <td  class="text-center">
                    <input type="button" class="del btn" value="删除"></input>
                    <input type="button" class="cha btn" value="修改"></input>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/test/admin.js"></script>
</body>
</html>