<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/test/testmodel.css">
    <link rel="stylesheet" href="/css/test/public.css">
    <title>网络教学</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 sdf">
            <img src="/img/top1_r1_c1.gif" alt="..">
        </div>
        <div class="col-lg-6 visible-lg character">
            网络教学信息库
        </div>
    </div>
    <hr/>

    <input type="text" id="middle" style="display: none" name="middle">
    <div class="row">
        <table class="table table-bordered table-responsive model">
            <thead>
            <th class="text-center">ID</th>
            <th class="text-center">特色</th>
            <th class="text-center">链接</th>
            <th class="text-center">操作</th>
            </thead>
            <tbody>
            <tr>
                <td><%=$_result[0]._id%></td>
                <td class="ar" name="username"><%=$_result[0].ingcharac%></td>
                <td class="ar" name="password"><%=$_result[0].inglink%></td>
                <td  class="text-center">
                    <input type="button" class="cha btn" value="修改"></input>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/test/interteach.js"></script>
</body>
</html>